body {
	background: #ffffff;
	font-size: 18px;
	font-family: helvetica, Arial;

}
h1{
	color: purple;
}

.special-subheading {
	font-family: "Helvetica";
	font-size: 30px;
}

/*.shape{
	background: #00ffff;
	height: 500px;
	width:300px
	padding-left: 10px;
	padding-left: 10px;
	margin-top: 70px;
	border-left: 1px solid #0000;

}*/

.selfie {
		
}

a {
	color:teal;
	text-decoration: none;
}
