body{
	background: #ffffff;
	font-family: Helvetica, Arial, serif


}
h1{
	font-size: 20px;
	
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:underline;}

a:link {color: navy;}

.nav {
	position: fixed;
	top: 10em;
	right: 0;
	left: 0;
	height: 30px;
	background:  #000;
	z-index: 1000;
	text-align: center;
	
}

.nav a {
	color: #fff;
	margin: 0 40px;

}

.nav a:hover {
	color:  pink;
}