body{
	background: #ffffff;
	font-family: Helvetica, Arial, serif;
	margin-top:100px;
	margin-bottom:100px;
	margin-right:150px;
	margin-left:150px; 
}

.my-essay {
 
	font-size: 16px;
	line-height: 1.7em;
}

.my-essay p{
	color: #000000;
}

p{
	color: #bbb;
}

h1, h2{
	font-family: Arial;
}
h1{
	font-size: 20px;
	letter-spacing: px;
	font-weight: bold;
	text-align: center;
	margin: 3em 0 1.5 0;
}

h2 {
	}

i{
	font-style: italic;
	color: purple;
	text-decoration: underline;
}

.emphasis{
	font-style: italic;
	color: black;
	
}

blockquote{
	font-style: italic;
	font-size: 1.5em;
	border-left: 5px solid #000;
	margin: 1.5em 0;
	padding: 0 0 0 1em;
	}